uber_layer {
    label = "VIEW";
    display-name = "VIEW";

    bindings = <
    //╭───────┬─────────┬─────────┬─────────┬─────────┬──────────╮  ╭───────┬───────┬───────┬───────┬───────┬───────╮
        &none   &kp F13   &kp F14   &kp F15   &kp F16   &none         &none   &none   &none   &none   &none   &none
    //├───────┼─────────┼─────────┼─────────┼─────────┼──────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
        &none   &kp F17   &kp F18   &kp F19   &kp F20   &none         &none   &none   &none   &none   &none   &none
    //├───────┼─────────┼─────────┼─────────┼─────────┼──────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
        &none   &kp F21   &kp F22   &kp F23   &kp F24   &log_off      &none   &none   &none   &none   &none   &none
    //╰───────┴─────────┴─────────┼─────────┼─────────┼──────────┤  ├───────┼───────┼───────┼───────┴───────┴───────╯
                                    &none     &none     &none         &none   &none   &none
    //                            ╰─────────┴─────────┴──────────╯  ╰───────┴───────┴───────╯
    >;
};