# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MAIZEGLOW_LEFT

config ZMK_KEYBOARD_NAME
	default "MaizeGlow"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_MAIZEGLOW_LEFT || SHIELD_MAIZEGLOW_RIGHT # || SHIELD_ENKI42_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

config MAIZEGLOW_PM
    bool "MaizeGlow Automatic Power Management"
    default y
    select ZMK_POWER_DOMAINS
    select ZMK_POWER_DOMAINS_DYNAMIC_DEFAULT
    select PM_DEVICE
    select PM_DEVICE_POWER_DOMAIN
    select PM_DEVICE_RUNTIME
    select POWER_DOMAIN
    select POWER_DOMAIN_GPIO

config MAIZEGLOW_RGB_UNDERGLOW
    bool "MaizeGlow per Key RGB LEDs"
    default y
    select ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI
    select ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE
    select ZMK_RGB_UNDERGLOW_AUTO_OFF_USB

endif
