# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MAIZEGLOW_LEFT

config ZMK_KEYBOARD_NAME
	default "MaizeGlow"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_MAIZEGLOW_LEFT || SHIELD_MAIZEGLOW_RIGHT # || SHIELD_ENKI42_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y
	
endif
